<% if @curriculum.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= @curriculum.errors.count %> Fehler gefunden:</strong>
    <ul>
    <% @curriculum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>