<h1>Willkommen beim Lehrplan! TaaaDaaaa!</h1>
Sie haben nun folgende Möglichkeiten:<br />
<br />
<%=link_to "Alle Lehrpläne anzeigen", curriculums_path %>
<br />
<%=link_to "Neuen Lehrplan anlegen", new_curriculum_path %>
