<h3>Hier kannst du einen neuen Lehrplan erstellen</h3><br />
Bitte trage hier die Informationen ein.<br />
Felder die mit einem * gekennzeichnet sind, dürfen nicht leer bleiben.

<%= render "createCurriculumForm" %>
<%= link_to 'zurück', curriculums_path %>

