<h1>Alle Fragen in diesem Forum</h1>

<table>
  <thead>
    <tr>
      <th>Überschrift</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Frage Stellen', new_question_path %>
