<h1>Alle Fragen in diesem Forum</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Überschrift</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question %>
          <td><%= question.created_at%></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Frage stellen', new_question_path %>
