<h1>Forum</h1>

<br>
<%= link_to 'Neue Frage stellen', new_question_path %>
<br>

<table>
  <thead>
  <tr>
    <th><h3>Fragen</h3></th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question %></td>
      </tr>
  <% end %>
  </tbody>
</table>
