<h1>Assessments#delete</h1>
<p>Find me in app/views/assessments/delete.html.erb</p>
<p>Well no, you successfully deleted that assessment!</p>
<%= link_to("Zurück zu den Prüfungen", assessment_path)%>
