<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">Frage: </div>
		<div class="span10"><%=@subassessment.text%></div>
	</div>
	<div class="row-fluid">
		<div class="span2">Antwort </div>
		<div class="span10"><%=@subassessment.solution %></div>
	</div>
	
</div>
