<div class="container-fluid">
<div class="row-fluid">
	<div class="span10"><h2>Teilaufgabe bearbeiten</h2></div>
	<div class="span2"><%= button_to "zurück", edit_assessment_path(params[:assessment_id]), :method => :get, class:"btn btn-xs btn-primary", style:"width:100%"%></div>
</div>

<%= render 'form' %>
</div>