<div class="container-fluid">

<div class="col-sm-9"><div class="row-fluid"><h1>Alle Teilaufgaben</h1></div></div>

<div class="col-sm-9">

<% if @subexercises.length == 0 then %>
	<div id="notice"> Noch keine Teilaufgaben vorhanden! </div>
<% end %>
	
	
	<div class="panel panel-primary">
		<div class="panel-body" id="subexercise_list">
			<%= render 'list_subexercises'%>
		</div>
	</div>
	
	
</div> <!-- /col-sm-9 -->


</div> <!-- /container-fluid -->
