<div class="container-fluid">
<div class="row-fluid">
	<div class="span10"><h2>Teilaufgabe erstellen</h2></div>
	<div class="span2"><%= button_to exercise_path(@exercise), :method => :get, class:"btn btn-xs btn-primary", style:"width:100%" do %>
          zurück  <% end %> </span>
    </div>
</div>

<%= render 'form' %>
</div>

