<%= will_paginate @comments, :inner_window => 2, :outer_window => 0, :previous_label => t("<"), :next_label => t(">"), :params => { :controller => "exercises", :action => "show", :id => @exercise.id }, renderer: BootstrapPagination::Rails %>

<% if @comments.length == 0 then %>
	<h4> noch keine Kommentare vorhanden! </h4>
<% end %>

<table class="table table-striped">
	<col width="100%" />
	<thead></thead>
	<tbody>
	<% @comments.each do |c| %>
		<% @comment = c %>
		<% c_id = "comment_" + @comment.id.to_s %>
		<tr>
			<td>
				<div class="row-fluid" id=<%= c_id%>>
					<%= render 'comments/show' %>
				</div>
			</td>
		</tr>
		
	<% end %>
	</tbody> 
</table>
<%= will_paginate @comments, :inner_window => 2, :outer_window => 0, :previous_label => t("<"), :next_label => t(">"), renderer: BootstrapPagination::Rails %>

