<div style="text-indent: 20px"><h2>Leistung bearbeiten:</h2></div>
<%= render 'form' %>


<div style="text-indent: 20px"><%= button_to 'Zur Leistungsübersicht', progresses_path, :method => "get", class:"btn btn-xs btn-primary"%></div>

<div style="text-indent: 20px"><%= link_to 'Anzeigen', @progress %> </div>
<%#= link_to 'Zurück', progresses_path %>
