<div style="text-indent: 20px"><h2>Leistung bearbeiten:</h2></div>
<%= render 'form' %>


<%= button_to 'Zur Leistungsübersicht', progresses_path, :method => "get", class:"btn btn-xs btn-primary"%>

<%= link_to 'Anzeigen', @progress %> |
<%= link_to 'Zurück', progresses_path %>
