<p id="notice"><%= notice %></p>
<%#=@a=User.find_by_username("admin").id %><br>
<%#= @learner_name = "admin" %><br>
<%#= @learner_id2 = User.where(:username => @learner_name) %><br>
<%#= @learner_id2.first.id%><br>

<%#= link_to 'Edit', edit_progress_path(@progress) %>
<%#= link_to 'Back', progresses_path %>
