<% if @post %> 
Datei <i><%= @file.fileName %></i> gespeichert!
Generierter Downloadlink: <div id="link" class="suggest_downloadlink"></div>

<% else %>
Fehler beim Upload!
<% end %>

<script type="text/javascript">

var editor = $('#articleInput').data("wysihtml5").editor;
var value = editor.getValue();


var url = document.location.protocol +"//" + document.location.host
url += '/uploads/<%= @file.getStorableName %>'

$("#link").html(url)

<% if @file.isImage %>
var height=prompt("Bitte Höhe für Bild eingeben","100");
var width=prompt("Bitte Breite für Bild eingeben","100");
var link = '<img src="' +url +'" alt="" height="' +height+'" width="'+width+'">'
<% else %> 
var link = '<a href="'+url+'"><%= @file.fileName %></a>'
<% end %>
editor.setValue(value + link, true);


</script>




