<h1>Liste der Logins</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
        <td><%= link_to 'Anzeigen', login %></td>
        <td><%= link_to 'Bearbeiten', edit_login_path(login) %></td>
        <td><%= link_to 'Löschen', login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Login', new_login_path %>
