<%= form_for(@exerciseoverview) do |f| %>
  <% if @exerciseoverview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exerciseoverview.errors.count, "error") %> prohibited this exerciseoverview from being saved:</h2>

      <ul>
      <% @exerciseoverview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
