<div class="container-fluid">
  <div class="row-fluid">
    <h2>Was möchtest du bearbeiten?</h2>

    <%= button_to 'Lernaufgaben bearbeiten', exercises_path, :method => "get", class:"btn btn-xs btn-primary" %>
    <%= button_to 'Klausur schreiben', exams_path, :method => "get", class:"btn btn-xs btn-primary" %>


    </div>
  </div>