<div class="container">
<h1>Newsfeednachricht bearbeiten</h1>

<%= render 'form' %>

<%= button_to newsfeeds_path, :method => :get, class:"btn btn-xs btn-primary" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> zurück
<% end %>
</div>