<div class="container">
<h1>Neue Newsfeednachricht</h1>

<%= render 'form' %>

<div class="span3" style="padding-top: 20px">
  <%= button_to newsfeeds_path, :method => :get, class:"btn btn-xs btn-primary" do %>
      <span class="glyphicon glyphicon-arrow-left"></span> zurück
  <% end %>
</div>

</div>