<h4>Administrator-Verwaltung</h4>

<%= link_to "Als Administrator abmelden", users_admin_path, data:{confirm: ('Bist du dir sicher?')}, method: :adminDelete%>
<%= link_to "Lehrplan anlegen", new_curriculum_path%>
