<h4> Möchtest du wirklich dein Benutzerprofil löschen? </h4>
<table>
<tr> <td> bitte mit deinem Passwort</td></tr> 
<tr> <td><%=f.password_field :password %></td></tr>
<tr> <td><%= f.submit "Profil jetzt anlegen"%></td></tr>	
</table>