<h3> Benutzer </h3>
<div class="zweispaltig">



<table width="100%">
	<tr>
		<td>
			<b><p style="font-size: 15pt">Name</p></b>
		</td>
		<td>
		<b><p style="font-size: 15pt">E-Mail Adresse</p></b>

		</td>
      <td>
        <b><p style="font-size: 15pt">Admin?</p></b>

      </td>
      <td>
        <b><p style="font-size: 15pt">Lehrer?</p></b>

      </td>
      <td>
        <b><p style="font-size: 15pt">Schüler?</p></b>
      </td>

			
	</tr>
	<% @users.each do |u| 	%>
	<tr>
		<td>
			<%= u.username %>
		</td>

		<td>
           <%= u.email %>
		</td>
      <td>
        <% if u.admin %>
        Ja
        <% else %>
        Nein
        <% end %>
      </td>
      <td>
        <% if u.teacher %>
            Ja
        <% else %>
            Nein
        <% end %>
      </td>
      <td>
        <% if u.learner %>
            Ja
        <% else %>
            Nein
        <% end %>
      </td>
	</tr>	
	<% end %>
	
</table></div>









