<h3> Benutzer </h3>
<div class="zweispaltig">
<table>
	<tr>
		<td>
			Name
		</td>
		<td>
			Schüler
		</td>	
	</tr>
	<% @users.each do |u| 	%>
	<tr>
		<td>
			<%= u.username %>
		</td>
		<td>
			<%= u.pupil %>
		</td>
	</tr>	
	<% end %>
	
</table></div>
<div class="zweispaltig"> 

<div id="simpleSearch">
<input name="search" placeholder="Suchen" title="Suche einen Benutzer [shift-esc-f]" accesskey="f" id="searchInput" tabindex="1" autocomplete="off"/>
	<button type="submit" onclick="usersearch();" "button" title="Suche nach Benutzer mit diesem Namen" id="searchButton">
<img src="//bits.wikimedia.org/static-1.23wmf4/skins/vector/images/search-ltr.png?303-4" width="12" height="13"/>
</button>
	</div>
		
<script type="text/javascript"> 
function usersearch() {			#suchfunktion muss noch bearbeitet werden!!

	var query = document.getElementById('searchInput');
 
 	window.location.href = ("user/"+escape(query.value));
  }
</script>




