
<%if @fehler%>
	<p style="font-size:22pt"; id="notice">&nbsp;&nbsp;<%= notice%></p>
	<a href="/logins/new"> Jetzt melde dich hier an! <br />
<%else%>
	<h2>Herzlich Willkommen, <%= @current_user.username %></h2>
	<form action="/users/profile" method="post"> 
		<input type="hidden" name="logout" value ="true" />
		<input type="submit" value="Abmelden" />		
	</form>
<%end%>
