<p style="font-size: 25pt; color: cornflowerblue">Herzlich Willkommen, <%= @current_user.username %></p>

<%= link_to 'Benutzerprofil bearbeiten', edit_user_path(@current_user) %>
<%= link_to 'Benutzerprofil löschen', destroy_user_path(@current_user) %>