<h1>Willkommen auf MyLearnSpace</h1>
<div class="zweispaltig">
<strong>	Willkommen in der besten Nachhilfeplattform der Welt 

<div class="zweispaltig">
<a href="/user/new">Neues Profil anlegen</a>

<div class="zweispaltig">
<a href="/user/login">Anmelden</a>

