<h1><%= image_tag("MyLearnSpace5.png", border:"0", width:"8000", height:"8000")%></h1>
<p id="notice" style="font-size: 18pt; color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= notice %></p>
<table  cellspacing="15">
	<tr><td style="font-size:22pt; color: dodgerblue " >&nbsp;&nbsp;Eine Nachhilfeplattform der Welt (myLolliSpace)</td></tr>
  <tr><td style="font-size:22pt; color: dodgerblue " >&nbsp;&nbsp;(may contain content inappropriate for children)</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td></td><td><p style="border:3px solid yellowgreen; padding:20px; font-size:17pt"><%= link_to 'Neues Profil anlegen', new_user_path %></p></td></tr>
	<br />
</table>
