<h1>Willkommen auf MyLearnSpace</h1>
<div class="zweispaltig">
<strong>	Willkommen auf der besten Nachhilfeplattform der Welt 

<div class="zweispaltig">
<%= link_to 'Neues Profil anlegen', new_user_path %>

<div class="zweispaltig">
<a href="users/login"> Anmelden </a>

