<h1>Willkommen auf MyLearnSpace</h1>


<table cellspacing="15">
	<tr><td style="font-size:16pt; color: crimson " >Willkommen auf der besten Nachhilfeplattform der Welt </td></tr>
	<tr><td></td></tr>
	<tr><td><%= link_to 'Neues Profil anlegen', users_new_path %></td></tr>
</table>

