<h1><%= image_tag("MyLearnSpace5.png", border:"0", width:"8000", height:"8000")%></h1>
<table cellspacing="15">
	<br />
	<br />
	<p id="notice"><%= notice %></p>
	<br />
	<br />
	<br />
	<tr><td style="font-size:16pt; color: crimson " >Die beste Nachhilfeplattform der Welt </td></tr>
	<tr><td></td></tr>
	<tr><td><%= link_to 'Neues Profil anlegen', new_user_path %></td></tr>
</table>

