<h1>Antwort löschen</h1>

<strong>Bist du sicher?</strong>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= button_to 'Ja', answer_path, {:method => "delete", :id => @answer.id} %></td>
    <td><%= button_to 'Nein', questions_path, :method => "get" %></td>
  </tr>
  </tbody>
</table>