<h1>KnowledgeElements bearbeiten</h1>

<%= render 'createContentForm' %>

<%= link_to 'Zurück', knowledge_elements_path %>

<p>
  <%= link_to "KnowledgeElement anzeigen", @knowledge_element %> |
  <%= link_to "Zur Übersicht über alle KnowledgeElements", knowledge_elements_path %>
</p>