<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" onclick="toggleCollapse('collapseUpload')">
      <h4 class="panel-title">Datei hochladen</h4>
    </div>
    <div id="collapseUpload" class="panel-collapse collapse">
      <div class="panel-body">
        Bilder, Videos oder Dateien zum Artikel hinzuf端gen:
		<%= render "upload/uploadfile" %>
      </div>
    </div>    
  </div>
<div class="panel panel-default">
    <div class="panel-heading" onclick="toggleCollapse('collapseLink')">
      <h4 class="panel-title">
           Link einf端gen        
      </h4>
    </div>
    <div id="collapseLink" class="panel-collapse collapse">
      <div class="panel-body">
      	  Link eingeben: 
      	  <div class="input-group input-group-lg">
      	 	<input id="url" type="text" class="form-control" size="50" value="http://"/></div>
      	    Anzeigetext:
      	   	<div class="input-group input-group-lg">
      	 	<input id="linkText" type="text" class="form-control" size="50" /> 
      	 	</div>     	 
      	 	<button type="button" onclick="insertLink()" class="btn btn-xs">Link einf端gen</button>
     
      	 	
      	 	
      </div>
    </div>
    </div>
     	 	
   <div class="panel panel-default">
      <div class="panel-heading" onclick="toggleCollapse('collapseArticleLink')">
      	 	<h4 class="panel-title">
           Auf einen anderen Wiki-Artikel verlinken        
      		</h4></div>
      <div id="collapseArticleLink" class="panel-collapse collapse">
      	<div class="panel-body">
	     <%= search_field :search, "", :id => 'article_field', name:"search", :onkeyup => "searchSuggest('article')", :autocomplete => "off" %>
	     <div id="article_suggest" style="width: 20em"></div>
	     <%= token_tag(nil) %>
	     <button type="button" onclick="insertArticle()" class="btn btn-xs">Artikel einf端gen</button> 
   	 	</div>    
  </div>
  </div>
  </div>
