
<% if @wiki.errors.any? %>
  <div id="error_explanation">
    <strong><%= pluralize(@wiki.errors.count, "error") %> prohibited
      this post from being saved:</strong>
    <ul>
    <% @wiki.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>