
<% if @wiki.errors.any? %>
  
  	<div class="alert alert-danger">
    <strong><%= @wiki.errors.count %> Fehler beim Speichern!</strong>
    <ul>
    <% @wiki.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  
  <% end %>