<div class="jumbotron">
	Markiere hier bitte Content-Items, die zu deinem Artikel gehören [TODO]:<br/>
	<input id="tags" type="text" placeholder="Passende Tags eingeben..." value="<%= @tags %>" data-role="tagsinput" name="wiki[tags]" />
	</div>
