<% if @wikis.count > 14 %><div class="alert alert-info"> über <%= @wikis.count %> Artikel gefunden!
Bitte Suche ggf. verfeinern! </div><%end%>
<table>
  <tr>
    <th>Titel</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @wikis.each do |wiki| %>
  <tr>
    <td><strong><%= wiki.title %></td></strong>
    <td>	
    	<i><%= strip_tags(wiki.article.first(30)) %>
    	<% if !wiki.article.at(31).nil? %>
    	...
    	<% end %></td></i>
    <td><%= link_to ' Artikel anzeigen', wiki_path(wiki) %></td>
   </tr>
<% end %>
</table>


