

<div class="zweispaltig">
<br/><br/>
<strong>Neuester Artikel</strong> <br/>

<h3><%= @wiki.title %> </h3><br/>
	<%= raw @wiki.article %>
</div>
<div class="zweispaltig"> 
<%= link_to 'Neuen Artikel verfassen', new_wiki_path %></div>

 
    <div><%= render :partial => 'wikis/search' %></div>
  
	
<div id="results">
	</div>

