

<div class="zweispaltig">
<br/><br/>
<% if !@wiki.nil? %>
<strong>Neuester Artikel</strong> <br/>

<h3><%= @wiki.title %> </h3><br/>
	<%= raw @wiki.article %>
<% end %>
</div>
<div class="zweispaltig"> 
<%= link_to 'Neuen Artikel verfassen', new_wiki_path %></div>


