
<h1>Wikipedia von MyLearnSpace</h1>
<div class="zweispaltig">
<table>
  <tr>
    <th>Title</th>
    <th>Artikel</th>
  </tr>
 
  <% @wikis.each do |wiki| %>
    <tr>
      <td><%= wiki.title %></td>
      <td><%= wiki.article %></td>
    </tr>
  <% end %>
</table></div>
<div class="zweispaltig"> 
<%= link_to 'Neuen Artikel verfassen', new_wiki_path %></div>

 
    <div><%= render :partial => 'wikis/search' %></div>
  
	
<div id="results">
	</div>

