
<div class="zweispaltig">
<h3><p align="center"><%= @wiki.title %></p></h3> 
<hr>
<p align="center"><%= raw @wiki.article %></p>	</div>
<div><%= link_to "Artikel bearbeiten", edit_wiki_path %>
	    
</div>






