
<div class="zweispaltig">
<h3><p align="center"><%= @wiki.title %></p></h3> 
<hr>
<p align="center"><%= sanitize @wiki.article %></p> <!-- sanitize verhindert XSS -->
counter: <%= @wiki.clicks %>	</div>
<div><%= link_to "Artikel bearbeiten", edit_wiki_path %>
	    
</div>






