

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= @wiki.title %></h3>
		<%= button_to "Artikel bearbeiten", edit_wiki_path , class:"btn btn-xs btn-default" , method:"get" %>	</div>
	<div class="panel-body"><%= sanitize @wiki.article %></div> <!-- sanitize verhindert XSS -->
	</div>
	counter: <%= @wiki.clicks %>







