
<h3><%= @title %></h3>

<strong>Die gesuchte Seite existiert nicht.</strong>
<br/>
Verfasse einen Artikel zu diesem Thema.
<%= render "createArticleForm" %>
<%= link_to 'Zurück zur Startseite', wikis_path %>
