// Place all the styles related to the wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.zweispaltig{
position: relative; width:50%; float: left;
}
div.simpleSearch { 
  background-color: white;
  background-position: 0% 0%;
  background-repeat: repeat-x;
  border: 1px solid #AAAAAA;
  color: black;
  display: block;
  height: 1.4em;
  margin-top: 0.65em;
  min-height: 1px;
  position: relative;
  width: 14em;
}
