// Place all the styles related to the wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.zweispaltig{
position: relative; width:50%; float: left;
}
div.simpleSearch { 
  background-color: white;
  background-position: 0% 0%;
  background-repeat: repeat-x;
  border: 1px solid #AAAAAA;
  color: black;
  display: block;
  height: 1.4em;
  margin-top: 0.65em;
  min-height: 1px;
  position: relative;
  width: 14em;
}
#searchbox {
  background-color:#ffffff; 
  width:45em;
  align:center;
  border:1px solid #999;
  padding:1.5em;
  border-radius:8px;
  -moz-border-radius:8px;
}
#maincontent {
  margin-left:120px;
  text-align:left;
}
#form {
  margin:0px;
  padding:0;
}
#search_suggest {
  width:15em;
  margin:0px;
  padding:0px;
  position: absolute;
  text-align:left;
  background-color: #FFFFFF;
  border: 1px solid #98ceff;
  visibility: hidden;
}


.suggest_link {
  background-color: #FFFFFF;
  color: #333;
  padding: 2px 6px 2px 6px;
  
  
}
.suggest_link_over {
  background-color: #d8e8ff;
  padding: 2px 6px 2px 6px;
  opacity:1.00;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
}