<div class="container-fluid">
<h4>Bitte beachte, dass deine Klausur abgegeben wird, sobald du sie Seite verlässt.</h4>

<div class="col-sm-9"><div class="row-fluid"><h3><%= @knowledgeElement.name %></h3></div></div>


<% @subexercises.each do |sub| %>
    <tr>
      <% if sub.examItem? && sub.active? %>

          <%= sub.text %>
     <% end %>
</div>

<% end %>