<h4>Bitte beachte, dass deine Klausur abgegeben wird, sobald du auf einen anderen Link drückst.</h4>

<%= render 'form' %>
<% @subexercises.each do |sub| %>
    <tr>

      <td> <%= sub.text %></td>



<% end %>