<% if !@top_exercise.nil? %>		<!-- if existent, show most popular exercise (based on likes) in right column -->
	
	<div class="panel panel-primary">
		<div class="panel-heading" align="center">
			<h4>Beliebteste Lernaufgabe</h4>		
		</div>
		<div class="panel-body">
			<h4><%= link_to @top_exercise.title , wiki_path(@top_exercise) %></h4>
			<%= @top_exercise.description %><br />
			<strong>Likes: <%= @top_exercise.likes.length %></strong>
		</div>
		<div class="panel-footer">
			<%= button_to "zur Lernaufgabe" , exercise_path(@top_exercise), :method => :get, class:"btn btn-xs btn-primary", style:"width: 100%;" %> 
		</div>
	</div>

<% end %>