<div class="container-fluid">
	<div class="col-sm-12">
		<div class="row-fluid">
			<div class="span10">
				<h3> Deine Statistik zur Lernaufgabe "<%= @exercise.title %>"</h3>
			</div>
			<div class="span2">
				<%= button_to @exercise, :method => :get, class:"btn btn-xs btn-primary", style:"width:100%;" do %>
					<span class="glyphicon glyphicon-arrow-left"></span> zurück
				<% end %>
			</div>
		</div>
		<div class="row-fluid">
			<%= render partial: 'statistics' %>
		</div>
	</div>
</div>