<% content_for :knowledge_elements do %>

<div class="container" align="center">
  <div id="searchbox">
  		<div><%= image_tag "wiki.png", style:"float:left;", border:"0", align:"left", width:"100", height:"100" %></div>
		<br/><br/>
		<div id="maincontent">
				<div id="textSearch"><%= render :partial => 'wikis/search' %></div>
				
				
		</div> 
		
	</div>  
    	
   <div id="results"></div>
   </div><br/>
  <div class="container">
  	
  <%= content_for?(:wikis_content) ? yield(:wikis_content) : yield %>
<% end %>
</div>
<%= render template: "layouts/application" %>

